<div class="toolbar">
    <div fxLayout="row" fxHide.gt-xs>
        <div>
            <span class="logo"> Logo</span>
        </div>
        <span class="mat-spacer"></span>
        <div class="toggle">
            <span *ngIf="isNavOpen" (click)="isNavOpen = false">
                <img src="../assets/icons/cancel.svg" alt="close" height="30px" />
            </span>
            <span *ngIf="!isNavOpen" (click)="isNavOpen = true">
                <img src="../assets/icons/square.svg" alt="menu" height="30px"
            /></span>
        </div>
    </div>
    <div fxHide.lt-sm>
        <div fxLayout="row">
            <ng-container *ngFor="let item of menusList">
                <div
                    fxFlex="20"
                    [routerLink]="item.path"
                    routerLinkActive="active__route__bigscreen"
                    [routerLinkActiveOptions]="{ exact: true }"
                    Align="center"
                >
                    <a> {{ item.name | titlecase }} </a>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<div fxHide.gt-xs>
    <div class="layout" *ngIf="isNavOpen">
        <ng-container *ngFor="let item of menusList">
            <div
                class="nav__item"
                [routerLink]="item.path"
                routerLinkActive="active__route"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="isNavOpen = false"
            >
                <a> {{ item.name | titlecase }} </a>
            </div>
        </ng-container>
    </div>
</div>

<main>
    <router-outlet></router-outlet>
</main>
